<%= form_with(model: opening, local: true) do |form| %>
  <% if opening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opening.errors.count, "error") %> prohibited this opening from being saved:</h2>

      <ul>
      <% opening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= form.label :title %>
    <p><%= form.text_field :title, id: :opening_title %></h2></p>
  </div>


  <div class="field">
    <h2><%= form.label :beginning_date %></h2>
    <p><%= form.text_field :beginning_date, id: :opening_beginning_date %></p>
  </div>

  <div class="field">
    <h2><%= form.label :end_date %></h2>
    <p><%= form.text_field :end_date, id: :opening_end_date %></p>
  </div>

  <div class="field">
    <h2><%= form.label :pref_sex %></h2>
    <p><%= form.text_field :pref_sex, id: :opening_pref_sex %></p>
  </div>

  <div class="field">
    <h2><%= form.label :pref_age %></h2>
    <p><%= form.text_field :pref_age, id: :opening_pref_age %></p>
  </div>

  <div class="field">
    <h2><%= form.label :previous_experience %></h2>
    <p><%= form.text_field :previous_experience, id: :opening_previous_experience %></p>
  </div>

  <div class="field">
    <h2><%= form.label :description %></h2>
    <p><%= form.text_area :description, id: :opening_description %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


  <%= simple_form_for @opening do |c| %>

    <div id="restaurant-new-1">

      <div class="restaurant-text">
        <h2>Qual é a vaga?</h2>
        <%= c.input :title, label: false %>
      </div>


      <div class="restaurant-text">
        <h2>Qual é o seu CNPJ?</h2>
        <%= c.input :cnpj, label: false %>
      </div>

      <div class="restaurant-text">
        <h2>Deseja inserir o seu logo?</h2>
        <p>A logomarca do restaurante ajuda a passar mais confiança na hora da contratação e ajuda o reconhecimento</p>

        <%= c.input :photo, label: false %>
        <%= c.input :photo_cache, as: :hidden %>
      </div>

      <div class="restaurant-form">
       <%= link_to 'Próximo', '#restaurant-new-2', class: 'btn btn-primary'%>
      </div>
    </div>


    <div id="restaurant-new-2">

      <div class="restaurant-text">
        <h2>Tipo de Cozinha</h2>
        <%= c.input :cousine, label: false %>
      </div>


      <div class="restaurant-text">
        <h2>Descrição do Restaurante</h2>
        <%= c.input :description, label: false, as: :text %>
      </div>

      <div class="restaurant-form">
        <%= link_to 'Próximo', '#restaurant-new-3', class: 'btn btn-primary'%>
      </div>

      <div class="restaurant-form">
        <%= link_to 'Voltar', '#restarant-new-1' %>
      </div>
    </div>


    <div id="restaurant-new-3">

      <div class="restaurant-text">
        <h2>Nome do Responsável</h2>
        <p>Recomendamos que seja a pessoa responsável pela contratação de seus funcionários</p>
        <%= c.input :manager_name, label: false %>
      </div>

      <div class="restaurant-text">
        <h2>Telefone Fixo do Restaurante</h2>
        <%= c.input :phone, label: false %>
      </div>

      <div class="restaurant-text">
        <h2>Telefone Celular do Responsável</h2>
        <%= c.input :manager_phone, label: false %>
      </div>

      <div class="restaurant-form">
        <%= link_to 'Próximo', '#restaurant-new-4', class: 'btn btn-primary'%>
      </div>

      <div class="restaurant-form">
        <%= link_to 'Voltar', '#restarant-new-2' %>
      </div>
    </div>


    <div id="restaurant-new-4">

      <div class="restaurant-text">
        <h2>Endereço do Restaurante</h2>
        <p>*Esta informação será utilizada para calcular quantos transporte serão necessários para o candidato chegar no restaurante.</p>
        <%= c.input :address, label: false %>
      </div>

      <div class="restaurant-form">
        <%= c.button :submit, "Concluir", class: 'btn btn-primary'%>
      </div>

      <div class="restaurant-form">
        <%= link_to 'Voltar', '#restaurant-new-3' %>
      </div>

    </div>


  <% end %>
