<%= form_with(model: opening, local: true) do |form| %>
  <% if opening.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opening.errors.count, "error") %> prohibited this opening from being saved:</h2>

      <ul>
      <% opening.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <h2><%= form.label :title %>
    <p><%= form.text_field :title, id: :opening_title %></h2></p>
  </div>


  <div class="field">
    <h2><%= form.label :beginning_date %></h2>
    <p><%= form.text_field :beginning_date, id: :opening_beginning_date %></p>
  </div>

  <div class="field">
    <h2><%= form.label :end_date %></h2>
    <p><%= form.text_field :end_date, id: :opening_end_date %></p>
  </div>

  <div class="field">
    <h2><%= form.label :pref_sex %></h2>
    <p><%= form.text_field :pref_sex, id: :opening_pref_sex %></p>
  </div>

  <div class="field">
    <h2><%= form.label :pref_age %></h2>
    <p><%= form.text_field :pref_age, id: :opening_pref_age %></p>
  </div>

  <div class="field">
    <h2><%= form.label :previous_experience %></h2>
    <p><%= form.text_field :previous_experience, id: :opening_previous_experience %></p>
  </div>

  <div class="field">
    <h2><%= form.label :description %></h2>
    <p><%= form.text_area :description, id: :opening_description %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
