<%= simple_form_for @opening do |c| %>

  <div id="opening-new-1">
      <div class="restaurant-text">
        <h2>Qual é o título da vaga?</h2>
        <%= c.input :title, label: false %>
      </div>


      <div class="restaurant-text">
        <h2>A vaga é fixa ou temporária?</h2>
        <%= c.input :type, collection: ['Fixa','Temporária'], label: false %>
      </div>

      <div class="restaurant-text">
        <h2>Informe o turno de trabalho</h2>
        <%= c.input :shift,collection:  ['Diurno', 'Noturno', 'Variável'], label: false %>
      </div>


      <div class="restaurant-text">
        <h2>Qual a data de início?</h2>
        <%= c.input :beginning_date, label: false%>
        <p>Se a vaga for temporária, informe também uma data de encerramento</p>
        <%= c.input :end_date, label: false%>
      </div>


      <div class="restaurant-form">
       <%= link_to 'Próximo', '#opening-new-2', class: 'btn btn-primary'%>
      </div>
  </div>

  <div id="opening-new-2">
    <br>
    <br>
    <br>
    <p>Diga suas preferências sobre o funcionário</p>
    <div class="restaurant-text">
      <h2>Você tem alguma preferência de gênero?</h2>
      <%= c.input :pref_sex, collection: ['Ambos', 'Masculino', 'Feminino'], label: false %>
    </div>

    <div class="restaurant-text">
      <h2>Idade</h2>
      <%= c.input :description, label: false, as: :text %>
    </div>

    <div class="restaurant-text">
      <h2>Mais detalhes</h2>
      <p>Conte um pouco mais sobre a vaga</p>
      <p style="font-size: 10px">Máx. 140 caracteres</p>
      <%= c.input :description, as: :text, label: false %>
    </div>

    <div class="restaurant-form">
      <%= c.button :submit, "Concluir", class: 'btn btn-primary'%>
    </div>

    <div class="restaurant-form">
      <%= link_to 'Voltar', '#opening-new-1' %>
    </div>

  </div>


<% end %>
