    <% @openings.each do |opening| %>
    <div class="opening-container">
      <div class="opening-photo">
        <%= link_to cl_image_tag(opening.restaurant.photo, height: 250, width: 250, crop: :fill, class: 'logo-size-small'), opening %>
      </div>
      <div class="openings-details">
        <h2><%= link_to opening.title, opening %></h2>
        <% if opening.previous_experience %>
          <h4>Necessita experiência em restaurantes</h4>
        <% end %>
        <p><%= "Idade preferencial: #{opening.pref_age}" %></p>
        <p><%= opening.pref_sex %></p>
      </div>
      <% if current_user.role == 'restaurant' %>
        <div class="opening-actions">
          <p><%= link_to 'Editar', edit_opening_path(opening) %></p>
          <p><%= link_to 'Remover', opening, method: :delete, data: { confirm: 'Tem certeza que quer remover a vaga?' } %></p>
        </div>
      <% end %>
    </div>
    <hr>

    <% end %>

    <div class="button-profile">
        <p><%= link_to 'Voltar para o Perfil', @profile%></p>
    </div>

  <% if current_user.role == 'restaurant' %>
    <%= link_to new_opening_path do %>
      <div class="button-search">
        <p>Cadastrar Nova Vaga</p>
      </div>
    <% end %>
  <% end %>

