<p id="notice"><%= notice %></p>

<h1>Openings</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Beginning date</th>
      <th>End date</th>
      <th>Pref sex</th>
      <th>Pref age</th>
      <th>Previous experience</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @openings.each do |opening| %>
      <tr>
        <td><%= opening.title %></td>
        <td><%= opening.type %></td>
        <td><%= opening.beginning_date %></td>
        <td><%= opening.end_date %></td>
        <td><%= opening.pref_sex %></td>
        <td><%= opening.pref_age %></td>
        <td><%= opening.previous_experience %></td>
        <td><%= opening.description %></td>
        <td><%= link_to 'Show', opening %></td>
        <td><%= link_to 'Edit', edit_opening_path(opening) %></td>
        <td><%= link_to 'Destroy', opening, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Opening', new_opening_path %>
