<p id="notice"><%= notice %></p>
<div class="wrapper-opening">
</div>

    <div class="opening-container">
       <div class="opening-logo-job">
        <%= image_tag("https://via.placeholder.com/250x250", class:'logo-size-details')%>
      </div>

      <div class="openings-details-job">
        <h2><%= @opening.title %></h2>
        <h3><%= @opening.type %></h3>
        <p><%= @opening.beginning_date %></p>
        <p><%= @opening.end_date %></p>
        <p><%= @opening.pref_sex %></p>
        <p><%= @opening.pref_age %></h2>
        <p><%= @opening.previous_experience %></p>
        <p><%= @opening.description %></p>
      </div>
    </div>

<div class="openings-details-button">
    <%= link_to 'Editar', edit_opening_path(@opening) %> |
    <%= link_to 'Voltar', openings_path %>
</div>
