<div class="navbar-container">
  <div class="navbar-wagon">
    <div class="navbar-wagon-left">

      <!-- Logo -->
      <% if user_signed_in? %>
        <% if current_user.role == 'restaurant' %>
          <%= link_to image_tag('http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_150/v1517450057/logo_bmz6wf.png', id: 'logo'), restaurant_path(current_user.restaurant), class: "navbar-wagon-brand" %>
        <% else %>
          <%= link_to image_tag('http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_150/v1517450057/logo_bmz6wf.png', id: 'logo'), candidate_path(current_user.candidate), class: "navbar-wagon-brand" %>
        <% end %>
      <% else %>
        <%= link_to image_tag('http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_150/v1517450057/logo_bmz6wf.png', id: 'logo'), root_path, class: "navbar-wagon-brand" %>
      <% end %>
      <!-- Left Navigation -->
      <div class="navbar-large-menu hidden-xs hidden-sm">
        <%= link_to "Home", root_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Sou Candidato", institucional_candidato_path, class: "navbar-wagon-item navbar-wagon-link" %>
        <%= link_to "Sou Restaurante", institucional_restaurante_path, class: "navbar-wagon-item navbar-wagon-link" %>
      </div>
      <!-- Profile picture with dropdown list -->
    </div>

    <div class="navbar-wagon-right hidden-xs hidden-sm">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Sair") %>
        <% end %>
      <% else %>
        <%= link_to "Registrar-se", new_user_registration_path , class: "navbar-wagon-item navbar-wagon-link", style: "color: #4169df;" %>
        <%= link_to "Entrar", new_user_session_path , class: "navbar-wagon-item navbar-wagon-link", style: "color: #4169df;" %>
      <% end %>
    </div>

    <!-- Dropdown appearing on mobile only -->
    <div class="navbar-wagon-item hidden-md hidden-lg">
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <% if user_signed_in? %>
          <li><%= link_to destroy_user_session_path, method: :delete do %>
            <i class="fas fa-sign-out-alt"></i>  <%= t(".sign_out", default: "Sair") %>
          <% end %></li>
        <% else %>
          <li><%= link_to "Registrar-se", new_user_registration_path , class: "navbar-wagon-item navbar-wagon-link", style: "color: #4169df;" %></li>
          <li><%= link_to "Entrar", new_user_session_path , class: "navbar-wagon-item navbar-wagon-link", style: "color: #4169df;" %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
