<div class="wrapper-white">
  <div class="banner-container">
    <div class="home-grid-1" style="margin-bottom: 170px;">

        <div class="home-text-container">
          <div class="home-text-content">
            <h1>
              Conheça a <em>Opptis</em>, sua Plataforma de Oportunidades para Bares & Restaurantes
            </h1>
            <p>
              Queremos reinventar o processo de recrutamento em bares e restaurantes.<br>
              Ajudando empresas e funcionários a preencher a vaga ideal.
            </p>
            <div class="home-text-links">
              <div>
                <%= link_to "Restaurante", restaurants_path, class: "btn btn-primary" %>
              </div>
              <div>
                <%= link_to "Candidato", candidates_path, class: "btn btn-primary" %>
              </div>
            </div>
          </div>
        </div>

          <div class="banner-image" style="background-image: url('http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450187/banner_img_djnb69.png');">

          </div>

    </div>
  </div>
</div>


<div class="wrapper-blue1">
  <div class="container">

    <div class="home-restaurants">
      <!-- <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_1400/v1517450056/restaurantes_rgbgws.png" id="home_restaurants"%> -->
    </div>

    <div class="home-grid-2">

      <div class="banner-image" style="background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450056/joao_pphngl.png);">
        <!-- <div class="home-image">
          <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450056/joao_pphngl.png" id="joao_img" class="left-img" %>
        </div> -->
      </div>

    <div class="home-text-container">
      <div class="home-text-content home-text-white">
        <p>
          A historia de João não é real, <strong>mas ela ilustra a realidade de muitas pessoas no mercado de trabalho.</strong> Sem oportunidades de estudo e com pouco acesso a informação, se torna mais complicado a busca por um emprego.<br><strong>Queremos ajudar pessoas como Joao a encontrar melhores oportunidades que se encaixem com sua experiência.</strong>
        </p>
        <div class="home-text-links">
          <%= link_to "Sou Candidato", institucional_candidato_path, class: "btn btn-info" %>
        <!--  <%= link_to "", "#", class: "btn-gplay" %>  -->
        </div>
      </div>
    </div>

    </div>

  </div>
</div>

<div class="wrapper-blue2">
  <div class="container">

    <div class="home-grid-1">

      <div class="home-text-container">
        <div class="home-text-content home-text-white">
          <p>
            A situação de Vinicius é <strong>recorrente em diversos estabelecimentos, sejam bares, restaurantes, lojas e em muito outros negócios.</strong> A alta rotatividade de funcionários é uma realidade que sobrecarrega sua operação. <strong>Buscamos ajudar empresários como Vinicius a solucionar esse problema sem comprometer o andamento de suas atividades.</strong>
          </p>
          <div class="home-text-links">
            <%= link_to "Sou Restaurante", institucional_restaurante_path, class: "btn btn-info" %>
          </div>
        </div>
      </div>

      <div class="banner-image" style="background-image: url('http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450057/vinicius_r_bcw7cx.png');">
<!--             <div class="home-image">
          <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450057/vinicius_r_bcw7cx.png" id="vinicius_img" class="right-img"%>
        </div> -->
      </div>

    </div>

  </div>
</div>

<div class="wrapper-blue3">
  <div class="container">

    <div class="logo-div">
      <div class="logo-div-small">
        <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_100/v1517450055/logo_white_small_pmooui.png" id="logo_white_small" %>
      </div>
    </div>

    <div class="logo-text">
      <p>
        <strong>A Opptis é uma plataforma de oportunidades</strong> que busca unir João e Vinicius para <strong>gerar uma situação ganha-ganha</strong>.
      </p>
    </div>

  </div>
</div>


<div class="wrapper-white">
  <div class="container">

    <div class="home-grid-2">
        <div class="banner-image" style="margin-top: 50px; background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450058/vagas_izpo2i.png);">
<!--           <div class="home-image">
            <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517450058/vagas_izpo2i.png" id="vagas_img" class="left-img" >
          </div> -->
        </div>

      <div class="home-text-container">
        <div class="home-text-content">
          <h2>
            Encontre vagas em restaurantes de acordo com suas preferências<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            Utilize os ﬁltros para escolher as oportunidades mais compatíveis com o seu perﬁl.
          </p>
        </div>
      </div>
    </div>

    <div class="home-grid-1">
      <div class="home-text-container">
        <div class="home-text-content home-text-left">
          <h2>
            Resolva seus problemas de Rotatividade<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            Oferecemos uma busca dinâmica por candidatos de acordo com sua preferências. Através de nossos algoritmos encontramos uma opção que melhor se adeque ao seu negócio.
          </p>
        </div>
      </div>

        <div class="banner-image" style="margin-bottom: 50px; background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517832015/candidatos_lxbxha.png);">
<!--           <div class="home-image" style="margin-bottom: 30px; ">
            <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517832015/candidatos_lxbxha.png" class="right-img"%>
          </div> -->
        </div>

    </div>

    <div class="home-grid-2">

      <div class="banner-image" style="margin-bottom: 30px; background-image: url(http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1519920290/jsilva_ycx73b.png);">
<!--         <div class="home-image">
          <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_400/v1517833103/jsilva_ycx73b.png" id="jsilva" class="left-img" >
        </div> -->
      </div>

      <div class="home-text-container">
        <div class="home-text-content" ">
          <h2>
            Agilidade & Simplicidade<br>&macr;&macr;&macr;&macr;&macr;&macr;&macr;
          </h2>
          <p>
            A <strong>Opptis</strong> é focada no mercado de bares e restaurantes, permitindo que um candidato encontre vagas de sua competência e habilidades
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

<div class="wrapper-blue1">
  <div class="container">

    <div class="logo-div">
      <div class="logo-div-md" style="margin-top: 30px;">
        <img src="http://res.cloudinary.com/dskbrfm0n/image/upload/c_scale,w_200/v1517840280/logo-md_mx91hx.png" %>
      </div>
    </div>

<!--     <div class="logo-div">
      <div style="margin-top: 30px;">
        <%= link_to "Registre-se", "registro.html", class: "btn btn-info" %>
      </div>
    </div> -->

  </div>
</div>
