  <div class="profile-data">
    <h3>Sexo:</h3>
    <p><%= @candidate.sex %></p>

    <h3>Telefone:</h3>
    <p><%= @candidate.phone %></p>

    <h3>Endereço:</h3>
    <p><%= @candidate.address %></p>

    <h3>Endereço Formatado:</h3>
    <p><%= @candidate.formatted_address %></p>

    <h3>Data de Nascimento:</h3>
    <p><%= @candidate.birth_date %></p>

    <h3>Experiência Prévia:</h3>
    <p><%= @candidate.previous_experience %></p>

  </div>
