<%= simple_form_for @candidate do |c| %>

    <div id="candidate-new-1">

      <div class="candidate-text">
        <h2>Envie uma foto!</h2>
        <p> Uma fotografia de qualidade pode aumentar suas chances de ser contratado.</p>
        <%= cl_image_tag @candidate.photo, height: 250, width: 250, crop: :fill, class: 'candidate-logo' %>
        <p>*De preferência use um fundo neutro e uma roupa social. :)</p>
        <%= c.input :photo, label: false %>
        <%= c.input :photo_cache, as: :hidden %>
      </div>

      <div class="candidate-form">
        <%= link_to 'proximo', '#candidate-new-2', class: 'btn btn-primary'%>
      </div>

    </div>

    <div id="candidate-new-2">

      <div class="candidate-text">
        <h2>Qual é o seu endereço?</h2>
        <p>*Esta informação será usada para calcular quantos transportes serão necessários para chegar até o emprego.</p>
        <%= c.input :address, label: false %>
      </div>

      <div class="candidate-text">
        <h2>Por favor, informe sua data de nascimento</h2>
        <%= c.input :birth_date, label: false %>
      </div>

      <div class="candidate-form candidate-address">

        <%= link_to 'proximo', '#candidate-new-3', class: 'btn btn-primary'%>
        </div>

      <div class="candidate-form candidate-address">
        <%= link_to 'voltar', '#candidate-new-1' %>
      </div>

    </div>

    <div id="candidate-new-3">

      <div class="candidate-text">
        <h2>Qual é o seu CPF?</h2>
        <p>Enviaremos um email de confirmação</p>
      </div>
      <%= c.input :cpf, label: false %>
      <div class="candidate-text">
        <h2>Qual é o seu número de telefone?</h2>
        <p>É por este número que o contratante entrará em contato</p>
      <%= c.input :phone, label: false %>
       </div>
       <div class="candidate-form">
       <%= link_to 'proximo', '#candidate-new-4', class: 'btn btn-primary'%>
      </div>

      <div class="candidate-form">
        <%= link_to 'voltar', '#candidate-new-2' %>
      </div>

    </div>

    <div id="candidate-new-4">

      <div class="candidate-text">
        <h2>Já trabalhou em restaurante?</h2>
        <%= c.collection_radio_buttons :restaurant_experience, [[true, "Sim"],[false, "Não"]], :first, :last, label: false %>
        <h2>Conte-nos um pouco sobre suas experiências de trabalho</h2>
        <p> Ex: Restaurante XYZ de Janeiro de 2015 - Maio de 2018</p>
          <%= c.input :previous_experience, label: false %>
      </div>

      <div class="candidate-form">
        <%= c.button :submit, 'Enviar', class: 'btn btn-primary'%>
      </div>

      <div class="candidate-form">
        <%= link_to 'voltar', '#candidate-new-2' %>
        <%= link_to 'cancelar', candidate_path(@candidate) %>
      </div>
    </div>


  <% end %>
