<%= form_with(model: candidate, local: true) do |form| %>


  <div class="field">
   <h2><%= form.label :name %></h2>
    <p><%= form.text_field :name, id: :candidate_name %></p>
  </div>

  <div class="field">
    <h2><%= form.label :sex %></h2>
    <p><%= form.text_field :sex, id: :candidate_sex %></p>
  </div>

  <div class="field">
    <h2><%= form.label :phone %></h2>
    <p><%= form.text_field :phone, id: :candidate_phone %></p>
  </div>

  <div class="field">
    <h2><%= form.label :address %></h2>
    <p><%= form.text_field :address, id: :candidate_address %></p>
  </div>

  <div class="field">
    <h2><%= form.label :formatted_address %></h2>
    <p><%= form.text_field :formatted_address, id: :candidate_formatted_address %></p>
  </div>

  <div class="field">
    <h2><%= form.label :birth_date %></h2>
    <p><%= form.text_field :birth_date, id: :candidate_birth_date %></p>
  </div>

  <div class="field">
    <h2><%= form.label :previous_experience %></h2>
    <p><%= form.text_area :previous_experience, id: :candidate_previous_experience %></p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
