<div class="candidate-wrapper">


  <%= simple_form_for @candidate do |c| %>

    <div id="candidate-new-1">

      <div class="candidate-text">
        <h2>Envie uma foto!</h2>
        <p>Envie uma foto! Uma fotografia de qualidade pode aumentar suas chances de ser contratado. *De preferência use um fundo neutro e uma roupa social. :)</p>
      </div>
      <div class="candidate-form">
        <%= link_to 'substituir cloudinary' '#' class: 'btn btn-primary disabled' %>
        <%= link_to 'proximo' '#candidate-new-2' class: 'btn btn-primary'%>
      </div>

    </div>

    <div id="candidate-new-2">

      <div class="candidate-text">
        <h2>Qual é o seu endereço?</h2>
        <p>Caso o seu endereço não seja encontrado, indicar uma rua principal próxima. *Esta informação será usada para calcular quantos transportes serão necessários para chegar até o emprego</p>
      </div>
      <div class="candidate-form candidate-address">
        <%= c.simple_fields_for :address do |address| %>
          <%= address.input :street, label: false, hint: 'Rua, Logradouro, Avenida, etc' %>
          <%= address.input :number, label: false, hint: 'Número' wrapper_html: {class: 'input-group col-sm-6'} %>
          <%= address.input :complement, label: false, hint: 'Complemento' wrapper_html: {class: 'input-group col-sm-6'} %>
          <%= address.input :neighborhood, label: false, hint: 'Bairro' %>
          <%= address.input :Cidade, label: false, hint: 'Cidade' %>
          <%= address.input :Estado, label: false, hint: 'Estado' %>
        <%= end %>
        <%= link_to 'proximo' '#candidate-new-3' class: 'btn btn-primary'%>
        <%= link_to 'voltar' '#candidate-new-1' %>
      </div>

    </div>

    <div id="candidate-new-3">

      <div class="candidate-text">
        <h2>Qual é o seu CPF?</h2>
        <p>Enviaremos um email de confirmação</p>
      </div>
      <%= c.input :cpf %>
      <div class="candidate-text">
        <h2>Qual é o seu número de telefone?</h2>
        <p>É por este número que o contratante entrará em contato</p>
      </div>


    </div>

    <div id="candidate-new-4">



    </div>


  <%= end %>

</div>
