<div class="wrapper-restaurant">

  <div class="restaurante-logo">
    <%= image_tag("https://via.placeholder.com/250x250", class:'logo-size')%>
    <h1> <%= @restaurant.name%></h1>
  </div>


  <div class="tab-container">
    <div class="tab-selector">
      <h2>Dados do Restaurante</h2>
    </div>

    <div class="tab-selector">
      <h2>Dados de Contato</h2>
    </div>
  </div>


  <div>
    <div class="profile-data">
      <h3>Descrição</h3>
      <p><%= @restaurant.description%></p>

      <h3>CNPJ</h3>
      <p><%= @restaurant.cnpj%></p>

      <h3>Endereço</h3>
      <p><%= @restaurant.formatted_address%></p>
    </div>

    <div class="button-edit">
      <%= link_to "Editar", edit_restaurant_path, class:"btn btn-primary"%>
    </div>
  </dib>

  <div class="button-search">
    <%= link_to "Buscar Candidatos", openings_path, class:"btn btn-primary"%>
  </div>

</div>
